<app-menu [hidden]="!showTemplate"></app-menu>

<div> {{showTemplate}}</div>
<div class="container">
<router-outlet></router-outlet>

    <!-- Logout Modal-->
    <div class="modal fade" id="sairModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Deseja sair da aplicação?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Clique no botão "Sair" para encerrar a sessão.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
            <button class="btn btn-primary" (click)="logout()"  data-dismiss="modal">Sair</button>
          </div>
        </div>
      </div>
    </div>
</div>
