
  <div class="content-wrapper" style="margin-top: 30px;">

    <form>

      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">Campanhas</li>
          <a class="btn btn-primary ml-auto" routerLink="campanha/new">Adicionar</a>
        </ol>
      </div>

      <!--Tabela de Analista Responsável -->
      <div class="container-fluid">
        <table class="table-striped" id="dtbListarEPS" width="100%" >
          <thead class="thead-dark">
            <tr>
              <th width="1%">Código</th>
              <th width="28%">Nome</th>
              <th width="12%">Situação</th>
              <th width="8%">Data inicio</th>
              <th width="8%">Data fim</th>
              <th width="8%">Inicio apuração</th>
              <th width="8%">Fim apuração</th>
              <th class="actions" width="14%">Ações</th>
            </tr>
          </thead>
          <tbody>

              <tr>
                <td>001</td>
                <td>Abra sua Conta</td>
                <td>
                  <i class="fa fa-fw fa-check-circle-o" style="font-size:17px;color:#28a745" title="Ativa"></i>Ativa
                </td>
                <td>17/09/2018</td>
                <td>17/10/2018</td>
                <td>17/09/2018</td>
                <td>17/10/2018</td>
                <td class="actions">
                  <a class="btn btn-warning btn-xs" routerLink="campanha/001/edit">Editar</a>
                </td>
              </tr>
              <tr>
                <td>40589</td>
                <td>Remanejamento de Agência</td>
                <td>
                  <i class="fa fa-fw fa-check-circle-o" style="font-size:17px;color:#FFD700"></i>Implantação
                </td>
                <td>17/09/2018</td>
                <td>17/10/2018</td>
                <td>17/09/2018</td>
                <td>17/10/2018</td>
                <td class="actions">
                  <a class="btn btn-warning btn-xs" routerLink="campanha/001/edit">Editar</a>
                </td>
              </tr>

          </tbody>
        </table>
      </div>
    </form>


  </div>
